# standard directories for virtual environments
.env
.venv
env
venv

# OSX Desktop Services Store file
.DS_Store

# ignore tmp/ directory
tmp/

# PyCharm project config
.idea/

# jupyter backups
.ipynb_checkpoints/

# emacs backup files
*~

# ignore files needed for pypi distribution
__pycache__/
build/
dist/
*.egg-info/
*.egg
